{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Restaurant Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'reservation/restaurant_homepage.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Reservation System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage_restaurant' %}">Upcoming Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'table_management' %}">Manage Tables</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron text-white row mt-5 mb-5">
      <h1 class="display-4 text-white">Welcome {{request.session.restaurantName}}</h1>
      <h1 class="display-4 text-white">Here is a list of your bookings for Today</h1>
    </div>
    <h1 class="title">Restaurant Bookings</h1>
    <div class="text-center">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Time</th>
            <th scope="col">Party Size</th>
            <th scope="col">Cancel </th>
          </tr>
        </thead>
        <tbody>
          {% for userReservation in userReservations %}
          <tr>
            <th scope="row">{{userReservation.reservationDate}}</th>
            {% if userReservation.userName.email == request.session.accountEmail %}
            <td>Restaurant Manager</td>
            {% else %}
            <td>{{userReservation.userName.name}}</td>
            {%endif%}
            <td>{{userReservation.reservationTime}}</td>
            <td>{{userReservation.partySize}}</td>
            <td> <form action="{% url 'delete_reservation' userReservation.id %}" method="post">
              {% csrf_token %}
              <input class="btn btn-danger" type="submit" value="Cancel"></form> 
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="mt-5 mb-5">
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Create Reservation</button>
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Create Reservations</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'create_reservation' %}" method="post" id="myform">
                    {% csrf_token %}
                    <label for="startDate">Select a date:</label>
                    <input id="startDate" name="startDate" class="form-control" type="date" default="2022-12-15"/>
                    <label for="appt">Select a time:</label>
                    <input type="time" id="appt" name="appt" value="20:00:00"> 
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Party Size</label>
                      <select class="form-control" id="selectPartySize" name="selectPartySize">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8+</option>
                      </select>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">How many reservations do you want to make?</label>
                        <input type="number" id="numberOfReservations" name="numberOfReservations" step="1" min="1" max="25">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button onclick="form_submit()"class="btn btn-primary" type="submit">Save Changes</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function form_submit() {
      document.getElementById("myform").submit();
     }    
    </script>
</body>

</html>